/.idea
*.o
*.ko
*.mod
*.mod.c
.*.cmd
Module.symvers
modules.order
.tmp_versions/
compile_commands.json
.cache
.clangd
*.o.d
KernelWare_Plan.xlsx
KernelWare_Design_Document.docx
game
*.pem

# userspace compiled binaries
/userspace/kernelware
